<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @instapic.caption %>
</p>

<p>
  <strong>User:</strong>
  <%= @instapic.user %>
</p>

<p><%= image_tag @instapic.picture_url(:medium) %></p>

<%= link_to "Add Comment", new_comment_path(instapic_id: @instapic.id) %>

<%= link_to "View Comments", comments_path %>

<%= link_to 'Edit', edit_instapic_path(@instapic) %> |
<%= link_to 'Back', instapics_path %>
